@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./components/../../public/fonts/style.css');
body{
  background-color: white;
}

@media (min-width: 300px) {
  .image-container {
    width: 250px;
    
  }
}

@media (min-width: 768px) {
  .image-container {
    width: 400px;
    
  }
}
.text-forest{
  color: #396653;
}
.logo-font{
  font-family: "JSArirangPPURI";
  font-weight: 500;
}