@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./components/../../public/fonts/style.css');
body{
  background-color: white;
}

.text-forest{
  color: #396653;
}
.logo-font{
  font-family: "JSArirangPPURI";
  font-weight: 500;
}